{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Главная страница
        {% endblock %}
    </title>
    <link rel=icon  href="{%  static 'reestr_list/img/favicon.png' %}" sizes=16x32>
    <link href="{%  static 'reestr_list/css/reestr_list.css' %}" rel="stylesheet">
</head>
<body>

<div>
    <a class='navbar-logo' title="Переход на сайт ГКС" href="http://ms.nppgks.com/main.php"><img src="{%  static 'reestr_list/img/logo_white.svg' %}" height="70rem" loading="lazy" alt="Лого компании"> </a>
    <li>
    <a aria-current="page" title="Главная" href="{% url 'reestr_list:index' %}"> Главная</a>
    </li>
    <li>
    <a aria-current="page" title="Реестр" href="{% url 'reestr_list:reestr' %}"> Реестр</a>
    </li>
    <li>
    <a title="Новая запись" href="{% url 'reestr_list:additional_fpp' %}"> Добавить запись</a>
    </li>
    <li>
    <a title="Панель Администратора" href="/admin/reestr_list/register/"> Админка</a>
    </li>
</div>

{% block body %}
{% endblock body %}

<div>
    <p>Сайт работает {{ time_working }}</p>
    {% now 'l' as current_weekday %}
    <p>Московское время {% now 'H:i' %}, сегодня {{ current_weekday }} </p>
</div>


</body>
</html>