{% extends "index.html" %}
{% load static %}
{% block title %}
    Добавление в реестр
{% endblock title %}

{% block body %}
{% comment %} <div>
    {{ formset.management_form }}
   

    <form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>добавить строки</th>
            <th>Номер протокола</th>
            <th>Вид поверки</th>
            <th>Дата поверки</th>
            <th>МПИ</th>
            <th>Действительно до</th>
            <th>Наименование средства измерений</th>
            <th>Модификация</th>
            <th>Владелец СИ, ИНН</th>
            <th>Поверитель</th>
            <th>Место проведения поверки</th> 
            <th>№ ГРСИ</th>
            <th>Зав. №</th>
            <th>Состав СИ</th>
            <th>Методика поверки</th>
            <th>Эталоны</th>
            <th>Температура</th>
            <th>Давление</th>
            <th>Влажность</th>
            <th>Другие параметры</th>
            <th>Диапазон</th>
            <th>Погрешность</th>
            <th>Исполнитель</th>
        </tr>
        {% for form in formset %}
            <tr>
                
                <td>
                    +
                </td>
                <td>
                    {{ form.id_numb }}
                </td>
                <td>
                    {{ form.kind }}
                </td>
                <td>
                    {{ form.date }}
                </td>
                {% comment %} <td>
                    {{ form.mpi }}
                </td>
                <td>
                    {{ form.until }}
                </td>
                {% comment %} <td>
                    {{ form.name }}
                </td>
                <td>
                    {{ form.modif }}
                </td>
                {% comment %} <td>
                    {{ form.owner }}
                </td>
                <td>
                    {{ form.povername }}
                </td>
                <td>
                    {{ form.place }}
                </td>
                <td>
                    {{ form.descr }}
                </td>
                <td>
                    {{ form.number }}
                </td>    
                    
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Сохранить</button>
    </form>

</div> 
{% endcomment %}

 <div>
    <form method="post">
    {{ formset.management_form }}
    {% for form in formset %}
        {% csrf_token %}
        <p>{{ form }}</p>
    {% endfor %}

    <button type="submit">Сохранить</button>
    </form>
</div> 
{% endblock body %}
